<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <div class="container mt-5">
        <div th:each="el : ${postModel}" class="alert alert-info mt-2">
            <h1 th:utext="${el.title}" />
            <p th:utext="${el.fullText}" />
            <p><b>Просмотры: </b><span th:text="${el.views}" /></p>
            <a th:href="'/blogMain/' + ${el.id} + '/edit'" class="btn btn-secondary" style="text-decoration: none">Редактировать</a><br><br>
            <form th:action="'/blogMain/' + ${el.id} + '/delete'" method="post">
                <button class="btn btn-secondary" type="submit">Удалить</button>
            </form>
        </div>
    </div>
    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>